/* TODO: i do still hate pixels, at least they are up here */
:root {
    --space1: 4px;
    --space2: 8px;
    --space3: 16px;
    --space4: 32px;
    --white-txt: rgb(250, 250, 250);
    --gray-txt: rgb(100, 100, 100);
    --side-clr: dodgerblue;
    --content-clr: rgb(220, 230, 240);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    max-height: 100vh;
    height: 100vh;
}

body * {
    /* border: 1px solid black; */
}


img {
    /* TODO: zoom is bad, trying to keep it sane looking */
    max-width: 64px;

    /* the intention here is that the parent container decides the size */
    height: 100%;

    margin-right: var(--space2);
}

.main-grid {
    /* default is auto, this prevents growing content in children from changing the size of 1fr */
    min-width: 0;
    min-height: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header,
.side-bar,
.content {
    padding: var(--space3);
}

.side-bar {
    background-color: var(--side-clr);
    color: var(--white-txt);
    grid-row: 1 / -1;
}

.side-bar div {
    margin-bottom: var(--space4);
    margin-left: var(--space3);
}

.side-bar p {
    font-size: max(1.5vw, 1rem);
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    /* this is not noticable untill you resize, cause i'm playing with responsive text */
    align-items: center;
    margin-bottom: var(--space2);
}

/* TODO: i do not like this */
/* using id to overide defalults for first element of side-bar */
#logo {
    margin-left: 0;
}

#logo p {
    font-size: max(2.5vw, 1rem);
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--space2);
}

.search-bar {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
}

.search-bar input[type="search"] {
    border-radius: var(--space3);
    height: 80%;
    padding-left: 0.75em;
    background-color: var(--content-clr);
}

.other-crap-next-to-search {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    gap: var(--space3);
}

.user-info,
.twitter-thingy {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: min-content auto;
}

.user-info img,
.twitter-thingy img {
    grid-row: 1 / -1;
}

.user-info p:first-of-type {
    align-self: end;
    font-size: small;
    font-weight: bold;
}

.user-info p:last-of-type {
    font-size: large;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

button {
    border-radius: var(--space3);
    background-color: var(--side-clr);
    color: var(--white-txt);
    width: 80%;
    height: 70%;
}

button:hover {
    background-color: blue;
    transition: 0.7s;
}

.content {
    background-color: var(--content-clr);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--space3);
}

.content h2 {
    margin-bottom: var(--space2);
}

.content h3 {
    margin-top: var(--space2);
    font-weight: bold;
    color: black;
}

.card,
.announce,
.trend {
    border-radius: var(--space2);
    padding: var(--space3);
    background-color: var(--white-txt);
    color: var(--gray-txt);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: var(--space3);
}

.card {
    min-height: 15rem;
    border-left: 0.5rem solid black;
}

.announce,
.trend {
    font-size: small;
    margin-bottom: var(--space3);
}

.announce dt {
    color: black;
    font-weight: bold;
}

.announce hr {
    margin: var(--space2) 0;
}

.twitter-thingy + .twitter-thingy {
    margin-top: var(--space3);
}

.twitter-thingy p:first-of-type {
    font-weight: bold;
}
